* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(0, 0, 0);
}

img {
	max-width: 100%;;
}
h1 {
	padding: 2rem;
    text-shadow: 7px -7px 8px #ed00ff;
    font-size: 5rem;
}
.container {
	max-width: 1500px;
	margin: 5rem auto;
}

.slider {
	position: relative;
	aspect-ratio: 2/1;

	display: flex;
	box-shadow: 0px 0px 20px 20px rgb(255 0 247 / 60%);
}

button.revert {
	padding: 0.25rem 0.5rem;
	margin: 1rem 0;
	border: none;
	background-color: black;
	color: white;
	border-radius: 1rem;

}

button.prev,
button.next {
	display: inline-block;
	border: none;
	background-color: white;
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	margin: 0.25rem;
}

.controls {
	position: absolute;
	right: 13%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

.slide {
	display: flex;
	height: 100%;
}


.slide .text {
	color: white;
	position: absolute;
	bottom: 1rem;
	text-align: end;
	padding: 1rem;
}

.slide img {
	object-fit: cover;
	height: 680px;
	width: 100%;
}

.slide {
	width: 70%;
}

.thumbs {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.thumbs img {
	height: calc(100% / 5);
	object-fit: cover;
}

.thumbs img.active {
	border: 4px inset black;
}

.thumbs img:not(.active) {
	opacity: 0.5;
}