* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
}

img {
	max-width: 100%;;
}

.container {
	width: 90%;
	margin: 5rem auto;
}

.slider {
	position: relative;
	height: 800px;
	display: flex;
	box-shadow: 0 0 10px rgb(132, 132, 132);
}

button.revert {
	padding: 0.25rem 0.5rem;
	margin: 1rem 0;
	border: none;
	background-color: black;
	color: white;
	border-radius: 1rem;

}

button.prev,
button.next {
	display: inline-block;
	border: none;
	background-color: white;
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	margin: 0.25rem;
}

.controls {
	position: absolute;
	right: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

.slide {
	display: flex;
	height: 100%;
}


.slide .text {
	color: white;
	position: absolute;
	bottom: 1rem;
	text-align: end;
	padding: 1rem;
}

.slide img {
	object-fit: cover;
	height: 680px;
	max-width: 100%;
}

.slide {
	width: 70%;
}

.thumbs {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.thumbs img {
	height: calc(100% / 5);
	object-fit: cover;
}

.thumbs img.active {
	border: 4px inset black;
}

.thumbs img:not(.active) {
	opacity: 0.5;
}